<!DOCTYPE html>
<html>
  <head>
    <title>Film</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
		<a href="/"><img src="/images/logo-siw.png" width="30%"/></a>
	</header>


	
    <h1>Dettagli Film</h1>
    <div th:if="${movie}">
        <span th:text="${movie.title}">Up!</span>
        <span th:text="'(' + ${movie.year} + ')'">2000</span>
        <span><img width="30%" th:src=${movie.urlImage} /></span>
        
    </div>
  <span><a th:href=@{'newRecensione'+'/'+${#request.userPrincipal.principal.username}+'/'+${movie.getId()}}>Scrivi Recensione</a></span>
  <div>
	  <h1>Recensioni</h1>
	<div th:if="${recensioni.isEmpty()}">Non ci sono recensioni per questo film nel sistema</div>
	<ul>
		<li th:each="recensione : ${recensioni}">
			<div><span th:text="'Recensione scritta da '+${recensione.utente.getName()}+' : '">Recensione</span></div>
			<div><span th:text="${recensione.titolo}"></span></div>
			<span th:text="${recensione.Testo} + ' (stelle:' + ${recensione.Valutazione} + ')'">Up! (2000)</span>
		</li>
	</ul>
  </div>
    <div th:unless="${movie}">Non esiste</div>
  </body>
</html>
